
.lock {
    height: 30px; 
    margin-top: 10px;
}
.eye{
    // position: absolute;
    width: 35px;
    top:40px;
    right: 30px;
    justify-content: center;
}
.main{
    justify-content: center;
    margin: auto;
}
.sub-form{
    form{
        .sub-fill{
            border: 1px solid red;
            border-radius: 4px;
            input{
                border: none;
                &:focus{
                    outline: 0;
                }
                // outline: none ;
                // border: 2px solid red;
            }
        }
    
    }

}